

#Container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37.5rem;
    height: 250px;
    background-color: #7E6268;
    padding: 1.25rem;


}

#Section1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

#Container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    width: 37.5rem;
    height: 200px;
    background-color: #D49D85;
    padding: 1.25rem;
    
}

#Section2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    ;

}

#img1 {
    width: 15.625rem;
    height: auto;
    background-color: black;
}

#img2 {
    width: 15.625rem;
    height: auto;
    order: -1;
    background-color: black;
}

h1 {
    color: #511A29;
    font-family: 'Prociono', serif;
    padding: .9375rem;
    margin-left: 1.875rem;
}

#ExperienceTitle {
    font-family: 'Prociono', serif;
    color: white;

}

#ExperienceText {
    font-family: 'Prociono', serif;
    color: white;
    font-size: 24px;
}

button {
    font-family: 'Prociono', serif;
    border: none;
    background: none;
    color: white;
}

@media only screen and (max-width: 750px) {
    #Section1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }

    #Section2{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }

    #Container1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        background-color: #7E6268;
        padding: 1.25rem;
    
    
    }

    #Container2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        background-color: #D49D85;
        padding: 1.25rem;
        
    }

    #img1 {
        width: auto;
        height: 18.75rem;
        background-color: black;
    }

    #img2 {
        width: auto;
        height: 18.75rem;
        background-color: black;
        order: 2;
    }

}