img {
  width: 7rem;
  height: 6rem;
}

body {
  background-color: #D49D85;
}

.navbar{
 
  font-family: 'Amaranth', sans-serif;
  font-family: 'Jura', sans-serif;
  font-size: 1.5em;

}
 .bold-color{
  font-weight: bold;


 }
 
/*  @media (max-width: 991.98px) {
  .show-outside-hamburger {
    display: block;
  }
} */

