.product-container-scroll {
    display: flex;
    flex-wrap: nowrap;
    font-family: Prociono;
  }
  .product {
    white-space: nowrap;
  }
  
  h2{
    font-family: Prociono;
  }

  ::-webkit-scrollbar-thumb {
    background: #511A29; 
  }

 