#Footer { 
    width: 100%;
}

#Container {
    width: 100%;
}

#FooterContainer {
    display: flex;
    justify-content: space-between;
}

#FooterIcon { 
    color: white;
}

#Divider {
    width: auto;
    height: .0625rem;
    background-color: white;
}

.p-4{ 
    background-color: #511A29;
    margin: 0;
    border-bottom: 1px solid white;
}

.text-white {
    font-family: 'Prociono', serif;
}

#BKG {
    background-color: #511A29;
}

.mb-4{
    margin-top: .9375rem;
}

