#Footer { 
    width: 100%;
}

#FooterContainer {
    display: flex;
    justify-content: space-between;
}

#FooterIcon { 
    color: white;
}

#Divider {
    width: auto;
    height: .0625rem;
    background-color: white;
}

.p-4{ 
    background-color: #511A29;
    margin: 0 auto;

}

.mb-4{
    margin-top: .9375rem;
}

