img {
  width: 7rem;
  height: 6rem;
}

body {
  background-color: #D49D85;
}

.navbar{
 
  font-family: 'Amaranth', sans-serif;
  font-family: 'Jura', sans-serif;
  font-size: 1.1em;

}
 .bold-color{
font-weight: bold;


 }


 
 @media only screen and (min-width: 768px) {
  .nav-collapse {
    flex-wrap: nowrap;
  }
  .nav-item {
    flex-basis: 50%;
  }
}

