img {
  width: 7rem;
  height: 6rem;
}

body {
  background-color: #D49D85;
}

.navbar{
 
  font-family: 'Amaranth', sans-serif;
  font-family: 'Jura', sans-serif;
  font-size: 1.1em;

}
 .bold-color{
  font-weight: bold;


 }

 #NavContainer {
  padding: 0;
 }